.login__wrapper {
  height: 100%;
  width: 100%;
  max-width: 400px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__wrapper > p {
  margin: 0.6em;
}

.login__heading {
  margin-bottom: 0.6em;
}

.login__inputContainer {
  display: flex;
  align-items: center;

  width: 100%;
  margin: 0.6em 0px;
  padding: 0.6em;
  border-radius: var(--border__radius);
  border: var(--color__secondary) solid thin;
}

.login__inputContainer__validated {
  display: flex;
  align-items: center;

  width: 100%;
  margin: 0.6em 0px;
  padding: 0.6em;
  border-radius: var(--border__radius);
  animation: border_animation 0.5s linear forwards;
}

.login__inputIcon {
  margin-right: 0.6em;
  font-size: 1.5em;
}

.login__inputIcon__validated {
  color: var(--color__success);
  margin-right: 0.6em;
  font-size: 1.5em;
  animation: pop 0.5s;
}

.login__inputField {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  font-size: inherit;
}

.login__forgetPassword {
  width: 100%;
  text-decoration: none;
  text-align: right;
  font-size: 0.8rem;
  color: var(--color__tertiary);
}

.login__forgetPassword:hover {
  color: var(--color__secondary);
}

.login__loginBtn {
  width: 100%;
  margin: 0.6em 0px;
  padding: 0.8em;
  border-radius: var(--border__radius);
  border: var(--color__secondary) solid thin;
  font-weight: bold;
}

.login__loginBtn:hover {
  color: var(--color__primary);
  background-color: var(--color__secondary);
  cursor: pointer;
}

.login__socialLogin__wrapper {
  width: 100%;
  display: flex;
  margin: 0.6em 0px;
  border-radius: var(--border__radius);
  overflow: hidden;
}

.login__socialLoginBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px 0.6em;
  margin: 0.8px;
  flex-grow: 1;
  color: var(--color__primary);
  background: var(--color__tertiary);
}

.login__socialLoginBtn:hover {
  background-color: var(--color__secondary);
  cursor: pointer;
}

.login__socialLoginBtn > svg {
  margin: 0.6em;
}

.login__signupContainer {
  margin-top: 0.6em;
  color: var(--color__tertiary);
}

.login__signupContainer > a {
  color: var(--color__tertiary);
  text-decoration: underline;
}

.login__signupContainer > a:hover {
  color: var(--color__secondary);
}

/* keyframes */
@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes border_animation {
  0% {
    border-left: var(--color__success) solid thin;
  }
  25% {
    border-bottom: var(--color__success) solid thin;
  }
  50% {
    border-right: var(--color__success) solid thin;
  }
  75% {
    border-top: var(--color__success) solid thin;
  }
  100% {
    border: var(--color__success) solid thin;
  }
}
